html,
body {
  margin: 0;
  font-family: "Muli";
  height: 100vh;
  user-select: none;
}

.page {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  margin-top: 35px;
  height: calc(100vh - 35px);
  /* background-color: #f68f0000; */
}

main {
  height: 85%;
}

.frame {
  height: 100%;
}

.track {
  height: 100%;
}

.view {
  height: 100%;
}

.timelineContainer {
  height: 16%;
  top: -1%;
  background-image: url("../resources/zigzag.svg");
  position: relative;
}
