html,
body {
  margin: 0;
  font-family: "Muli";
  height: 100vh;
  user-select: none;
}

.page {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  margin-top: 50px;
  height: calc(100vh - 50px);
}

main {
  height: 90%;
}

@media only screen and (max-width: 600px) {
  main {
    height: 85%;
  }
}

.frame {
  height: 100%;
}

.track {
  height: 100%;
}

.view {
  height: 100%;
}

.timelineContainer {
  height: 10%;
  background-color: #f68f00;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .timelineContainer {
    height: 15%;
  }
}

.zigzagBackground {
  background-image: url("../resources/zigzag.svg");
  top: -7%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4); 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}
