.sectionContainer {
  height: 100%;
}

.innerContainer {
  height: 85%;
  background-color: #f8f8f8;
  padding-bottom: 32px;
}
.timelineContainer {
  height: 15%;
}

@media only screen and (max-width: 600px) {
  .timelineContainer {
    height: 20%;
  }
  .innerContainer {
    height: 80%;
  }
}

.headerContainer {
  font-family: "Muli script=all rev=1", "Adobe Blank";
  width: 100%;
  height: 40%;
  text-align: left;
  font-weight: 800;
  color: #696969;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    height: 20%;
  }
}

.mainHeader {
  font-size: 8vw;
  margin-left: 5%;
  margin-top: -1%;
  text-shadow: 2px 2px #d3d3d3;
}

@media only screen and (max-width: 600px) {
  .mainHeader {
    font-size: 10vw;
  }
}

.subHeader {
  font-size: 3vw;
  margin-left: 5%;
}

@media only screen and (max-width: 600px) {
  .subHeader {
    font-size: 8vw;
  }
}

.dataContainer {
  height: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  background: linear-gradient(135deg, #f8f8f8 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(225deg, #f8f8f8 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(315deg, rgb(255, 153, 153) 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(45deg, rgb(255, 153, 153) 25%, rgba(0, 0, 0, 0) 25%),
    #f8f8f8;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 34px 34px;
}

@media only screen and (max-width: 600px) {
  .dataContainer {
    display: inline-grid;
    justify-content: unset;
    align-items: unset;
  }
}

@media only screen and (max-width: 600px) {
  .dataContainer {
    height: 80%;
  }
}

.kpiContainer {
  display: flex;
  align-items: center;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .kpiContainer {
    width: 100%;
    align-items: flex-start;
  }
}

.textContainer {
  width: 30%;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .textContainer {
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .textContainer {
    font-size: 4vw;
    height: 30%;
    width: 100%;
    text-align: center;
  }
}

.textContainer p {
  width: 80%;
  margin-left: 5%;
}

.bullet:hover {
  cursor: pointer;
  background-color: white;
}

/* .zigzagContainer {
  height: 32px;
  background: linear-gradient(135deg, #f8f8f8 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(225deg, #f8f8f8 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(315deg, rgb(255, 51, 51) 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(45deg, rgb(255, 51, 51) 25%, rgba(0, 0, 0, 0) 25%), #994d00;
  background-position: -50px 0, -50px 0, 0 0, 0 0;
  background-size: 34px 32px;
} */

.zigzagContainer2 {
  height: 32px;
  background: linear-gradient(
      135deg,
      rgb(255, 153, 153) 25%,
      rgba(0, 0, 0, 0) 25%
    ),
    linear-gradient(225deg, rgb(255, 153, 153) 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(315deg, #d3d3d3 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(45deg, #d3d3d3 25%, rgba(0, 0, 0, 0) 25%), #ff5c33;
  background-position: -50px 0, -50px 0, 0 0, 0 0;
  background-size: 34px 32px;
}
