.sectionContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.innerContainer {
  display: flex;
  height: 85%;
  background: #f8f8f8;
}
.timelineContainer {
  height: 16%;
  top: -1%;
  background-image: url("../resources/zigzag.svg");
  position: relative;
}

/* @media only screen and (max-width: 600px) {
  .timelineContainer {
    height: 20%;
  }
  .innerContainer {
    flex-direction: column;
  }
} */

.headerContainer {
  position: absolute;
  top: 17%;
  left: 23%;
  width: 45%;
  /* font-size: 50px; */
  color: #6f6f6f;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: 900;
  text-align: left;

  /* width: 50%;
  height: 40%; */
  /* 
  background: transparent;
  z-index: 1000; */
}

/* @media only screen and (max-width: 600px) {
  .headerContainer {
    top: 4%;
  }
} */

.mainHeader {
  font-size: 8vw;
  margin-left: 21%;
  margin-top: -1%;
  text-shadow: 2px 2px #d3d3d3;
}

@media only screen and (max-width: 600px) {
  /* .mainHeader {
    font-size: 10vw;
  } */
}

.subHeader {
  font-size: 3vw;
  margin-left: 3%;
  text-shadow: 2px 2px #d3d3d3;
}

/* @media only screen and (max-width: 600px) {
  .subHeader {
    font-size: unset;
    margin: 0;
  }
} */

.cloudAndKpiContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  background: linear-gradient(rgba(2, 138, 225, 0.6), rgba(221, 174, 32, 0.6));
}

.cloudContainer {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.kpiContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .kpiContainer {
    width: 100%;
    height: 95%;
    align-items: unset;
    padding: 0 10px;
  }
}

.textContainer {
  width: 25%;
  background: #3e8dba90;
  text-align: left;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 5%;
}

.textContainer b {
  font-weight: 800;
}

/* @media only screen and (max-width: 600px) {
  .textContainer {
    width: 100%;
    background: unset;
    height: 90%;
  }
} */

.didyouknow {
  width: 30%;
  height: 14%;
  min-width: 142px;
  background-image: url("../resources/didyouknow.svg");
  background-repeat: no-repeat;
}

/* @media only screen and (max-width: 600px) {
  .didyouknow {
    width: 70px;
    height: 50px;
  }
} */

.infotext {
  display: flex;
  flex-direction: column;
  width: 65%;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 3%;
  background: #3e8dba50;
}
/* 
@media only screen and (max-width: 600px) {
  .infotext {
    width: 90%;
    justify-content: center;
    text-align: center;
    padding: 6px;
    font-size: small;
  }
} */

.house {
  position: absolute;
  top: 61%;
  left: 23%;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}
/* 
@media only screen and (max-width: 600px) {
  .house {
    visibility: hidden;
  }
} */

.bullet:hover {
  cursor: pointer;
  background-color: white;
}
