.sectionContainer {
  height: 100%;
}

.innerContainer {
  display: flex;
  height: 85%;
  background: #f8f8f8;
  /* background-color: #f8f8f8;
  background-image: linear-gradient(
    left,
    lightblue,
    lightblue 20%,
    transparent 20%,
    transparent 100%
  );
  background-image: -webkit-linear-gradient(
    left,
    lightblue,
    lightblue 20%,
    transparent 20%,
    transparent 100%
  ); */
}
.timelineContainer {
  height: 15%;
}

@media only screen and (max-width: 600px) {
  .timelineContainer {
    height: 20%;
  }
  .innerContainer {
    flex-direction: column;
  }
}

.headerContainer {
  position: absolute;
  top: 17%;
  left: 18%;
  /* font-size: 50px; */
  color: #6f6f6f;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: 900;
  text-align: left;

  /* width: 50%;
  height: 40%; */
  /* 
  background: transparent;
  z-index: 1000; */
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    top: 4%;
  }
}

.mainHeader {
  font-size: 8vw;
  margin-left: 21%;
  margin-top: -1%;
  text-shadow: 2px 2px #d3d3d3;
}

@media only screen and (max-width: 600px) {
  /* .mainHeader {
    font-size: 10vw;
  } */
}

.subHeader {
  font-size: 3vw;
  margin-left: 3%;
  text-shadow: 2px 2px #d3d3d3;
}

@media only screen and (max-width: 600px) {
  .subHeader {
    font-size: unset;
    margin: 0;
  }
}

.cloudAndKpiContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  background: linear-gradient(rgba(2, 138, 225, 0.6), rgba(221, 174, 32, 0.6));
}

.cloudContainer {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.kpiContainer {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background: linear-gradient(
        -135deg,
        rgba(221, 174, 32, 0.3) 15px,
        transparent 0
      )
      0 15px,
    linear-gradient(135deg, rgba(221, 174, 32, 0.3) 15px, #d3d3d3 0) 0 15px;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 30px 30px;
  justify-content: flex-end; */
}

@media only screen and (max-width: 600px) {
  .kpiContainer {
    width: 100%;
    height: 95%;
    align-items: unset;
    padding: 0 10px;
  }
}

.textContainer {
  width: 25%;
  background: #3e8dba90;
  text-align: left;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 5%;
  /* background-color: #f8f8f8;
  background: linear-gradient(-135deg, #3e8dba60 15px, transparent 0) 0 15px,
    linear-gradient(135deg, #3e8dba60 15px, #d3d3d3 0) 0 15px;
  background-color: #3e8dba60;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 30px 30px; */
}

.textContainer b {
  font-weight: 800;
}

@media only screen and (max-width: 1200px) {
  /* .textContainer {
    height: 100%;
  } */
}

@media only screen and (max-width: 600px) {
  .textContainer {
    width: 100%;
    background: unset;
    height: 90%;
  }
}

.didyouknow {
  width: 145px;
  height: 100px;
}

@media only screen and (max-width: 600px) {
  .didyouknow {
    width: 70px;
    height: 50px;
  }
}

.infotext {
  display: flex;
  flex-direction: column;
  width: 65%;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 3%;
  background: #3e8dba50;
}

@media only screen and (max-width: 600px) {
  .infotext {
    width: 90%;
    justify-content: center;
    text-align: center;
    padding: 6px;
    font-size: small;
  }
}

.house {
  position: absolute;
  top: 61%;
  left: 23%;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}

@media only screen and (max-width: 600px) {
  .house {
    visibility: hidden;
  }
}

.bullet:hover {
  cursor: pointer;
  background-color: white;
}

/* .zigzagContainer {
  height: 32px;
  background: linear-gradient(135deg, #f8f8f8 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(225deg, #f8f8f8 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(315deg, rgb(255, 51, 51) 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(45deg, rgb(255, 51, 51) 25%, rgba(0, 0, 0, 0) 25%), #994d00;
  background-position: -50px 0, -50px 0, 0 0, 0 0;
  background-size: 34px 32px;
} */

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #333333;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  opacity: 0.8;
  z-index: 10000000;
}

.zigzag {
  display: flex;
  flex-direction: row;
  height: 3%;
  background: #3e8dba60;
}

/* .zigzagLeft {
  display: flex;
  flex-direction: column;
  width: 25%;
  background: linear-gradient(-135deg, #3e8dba60 15px, transparent 0) 0 15px,
    linear-gradient(135deg, #3e8dba60 15px, #d3d3d3 0) 0 15px;
  background-color: #3e8dba60;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 30px 30px;
} */
.zigzagLeft {
  display: flex;
  flex-direction: column;
  position: relative;
}

.zigzagLeft::before {
  content: “”;
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}

/* .zigzagRight {
  display: flex;
  flex-direction: column;
  width: 75%;
  background: linear-gradient(-135deg, #ddae7a60 15px, transparent 0) 0 15px,
    linear-gradient(135deg, #ddae7a60 15px, #d3d3d3 0) 0 15px;
  background-color: #ddae7a;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 30px 30px;
} */

.zigzagContainer2 {
  height: 32px;
  background: linear-gradient(
      135deg,
      rgb(255, 153, 153) 25%,
      rgba(0, 0, 0, 0) 25%
    ),
    linear-gradient(225deg, rgb(255, 153, 153) 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(315deg, #d3d3d3 25%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(45deg, #d3d3d3 25%, rgba(0, 0, 0, 0) 25%), #ff5c33;
  background-position: -50px 0, -50px 0, 0 0, 0 0;
  background-size: 34px 32px;
}
