.header {
  color: rgba(0, 0, 0, 0.87);
  background-color: #2c8bb6;
  box-shadow: 0 1px 4px 0 rgba(61, 61, 61, 0.5);
  border-radius: 0px;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
  height: 50px;
  top: 0px;
  right: 0px;
  left: 0px;
}

.headerButton {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  margin: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: none;
  outline: none;
  padding: 0;
}

.headerButton:hover {
  background: rgba(255, 255, 255, 0.4);
}

.headerButton.active {
  background: rgba(255, 255, 255, 0.6);
}

.buttonImage {
  width: 35px;
  height: 38px;
}

.coreLogo {
  height: 100%;
  position: absolute;
  left: 0;
  cursor: pointer;
  margin-left: 20px;
}

@media only screen and (max-width: 550px) {
  .coreLogo {
    display: none;
  }
}
