.contentContainer {
  display: flex;
  width: 100%;
  height: 97%;
  padding-bottom: 3%;
  background: linear-gradient(rgba(2, 138, 225, 0.4), rgba(221, 174, 32, 0.4));
}

.viewContainer {
  display: flex;
  height: 95%;
}

.innerContainer {
  display: flex;
  height: calc(100% - 105px);
  width: 100vw;
}

.headerContainer {
  position: absolute;
  top: 17%;
  left: 23%;
  width: 48%;
  color: #fff;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1000;
  text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.1);
}

.mainHeader {
  font-size: 7vw;
  margin-left: 2vw;
  font-weight: 900;
}

.subHeader {
  font-size: 4vw;
  margin-left: 3vw;
  font-weight: 700;
}

.textContainer {
  width: 25%;
  max-width: 300px;
  background: #75adc8;
  border-right: 4px solid white;
  text-align: left;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2% 2% 2%;
  position: relative;
}

.textContainer b {
  font-weight: 800;
}

@media only screen and (max-width: 1100px) {
  .viewContainer.second {
    flex-wrap: wrap;
  }
  .viewContainer.first {
    font-size: small;
  }
}
@media only screen and (max-width: 800px) {
  .viewContainer.first {
    margin-left: 10px;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
  }

  .textContainer {
    font-size: small;
    padding-top: 10%;
    padding-bottom: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    top: 13%;
    left: 22%;
  }
}

@media only screen and (max-height: 650px) {
  .mainHeader {
    font-size: 5vw;
  }
  .subHeader {
    font-size: 2vw;
  }
}
