.innerContainer {
  display: flex;
  height: calc(100% - 105px);
  width: 100vw;
}

.headerContainer {
  position: absolute;
  top: 17%;
  left: 23%;
  width: 48%;
  color: #fff;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1000;
  text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    top: 11%;
    left: 27%;
  }
}

.mainHeader {
  font-size: 8vw;
  margin-left: 10%;
  font-weight: 900;
}

.subHeader {
  font-size: 5vw;
  margin-left: 17%;
  font-weight: 700;
}

.textContainer {
  width: 25%;
  max-width: 300px;
  background: #75adc8;
  border-right: 4px solid white;
  text-align: left;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2% 10% 2%;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .textContainer {
    width: 31%;
    font-size: small;
  }
}

.textContainer b {
  font-weight: 800;
}

.cloudAndKpiContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  background: linear-gradient(rgba(2, 138, 225, 0.4), rgba(221, 174, 32, 0.4));
}

@media only screen and (max-width: 1200px) {
  .cloudAndKpiContainer {
    max-width: 71%;
  }
}
