{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "exclude": ["transform-regenerator"]
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["babel-plugin-transform-class-properties"]
}
