{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "exclude": ["transform-regenerator"]
      }
    ],
    "react"
  ],
  "plugins": ["babel-plugin-transform-class-properties"]
}
