.banner {
  position: absolute;
  width: 40%;
  top: -17%;
  left: 58%;
}

@media only screen and (max-width: 600px) {
  .banner {
    width: 60%;
    top: -36%;
    left: 36%;
  }
}

.cloudText {
  font-family: Muli;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .cloudText {
    font-size: x-large;
  }
}

.dots {
  cursor: pointer;
}

Text{
  fill: #fff;
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {fill: #74AECB;}
  to {fill: #fff;}
}
