.banner {
  position: absolute;
  width: 30%;
  max-width: 520px;
  min-width: 270px;
  height: auto;
  top: -70px;
  right: 40px;
  z-index: 10;
}

@media only screen and (max-width: 1400px) {
  .banner {
    top: -52px;
    right: 30px;
  }
}

@media only screen and (max-width: 1100px) {
  .banner {
    top: -44px;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    min-width: 190px;
    top: -20px;
    right: 5px;
  }
}

.cloudText {
  font-family: Muli;
  font-weight: 600;
  fill: #fff;
  animation-name: fade-in;
  animation-duration: 1s;
}

@media only screen and (max-width: 600px) {
  .cloudText {
    font-size: large;
  }
}

.dots {
  cursor: pointer;
}

@keyframes fade-in {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}

@media only screen and (max-height: 900px) and (min-width: 700px) {
  .banner {
    width: 30%;
  }
}
