.bigCloud {
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.2));
  width: 170%;
}

@media only screen and (max-width: 1000px) {
  .bigCloud {
    width: 110%;
  }
}

@media only screen and (max-width: 600px) {
  .bigCloud {
    width: 50%;
  }
}


.movingCloud {
  width: 30%;
  top: 59%;
  left: 6%;
  position: absolute;
  z-index: 100;
  animation: move 10s linear infinite;
}

.staticCloud {
  width: 10%;
  height: 77%;
  position: absolute;
  top: 43%;
  z-index: 200;
  right: 0;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.2));
}

@keyframes move {
  0% {
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
    transform: translateX(0px);
  }
  50% {
    filter: drop-shadow(0 25px 15px rgba(0, 0, 0, 0.2));
    transform: translateX(-20px);
  }
  100% {
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
    transform: translateX(0px);
  }
}
