.bigCloud {
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
  width: 170%;
}

.movingCloud {
  width: 30%;
  top: 59%;
  left: 6%;
  position: absolute;
  z-index: 100;
  animation: move 10s linear infinite;
}

.staticCloud {
  width: 10%;
  height: 77%;
  position: absolute;
  top: 35%;
  z-index: 200;
  right: 0;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
}

@keyframes move {
  0% {
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.6));
    transform: translateX(0px);
  }
  50% {
    filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.2));
    transform: translateX(-20px);
  }
  100% {
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.6));
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 1800px) {
  .movingCloud {
    top: 30%;
    animation: move 15s linear infinite;
  }
  .staticCloud {
    top: 35%;
  }
}

@media only screen and (max-width: 1100px) {
  .bigCloud {
    width: 50%;
  }
  .movingCloud {
    width: 20%;
    top: 13%;
  }
  .staticCloud {
    top: 29%;
  }
}

@media only screen and (max-width: 800px) {
  .bigCloud {
    width: 50%;
  }
  .movingCloud {
    top: 7%;
  }
}

@media only screen and (max-height: 900px) and (min-width: 700px) {
  .bigCloud {
    width: 50%;
  }
  .movingCloud {
    width: 20%;
  }
  .staticCloud {
    width: 8%;
  }
}
