.heart {
  position: absolute;
  z-index: 1;
  bottom: -29px;
  right: -132px;
  height: 198px;
}

@media only screen and (max-width: 1100px) {
  .heart {
    height: 150px;
    bottom: -21px;
  }
}

@media only screen and (max-width: 600px) {
  .heart {
    height: 100px;
    bottom: -13px;
  }
}

#pulsepath {
  stroke-dasharray: 200, 100;
  animation: pulse 8s infinite linear;
}

@keyframes pulse {
  from {
    stroke-dashoffset: 1100;
  }
  to {
    stroke-dashoffset: 500;
  }
}
