.kpiContainer {
  position: relative;
  width: 80%;
  font-size: 2rem;
  margin-right: 1.5%;
}

.kpiContainer svg {
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 1200px) {
  .kpiContainer svg {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .kpiContainer svg {
    width: 100px;
    height: 100px;
  }
}

.kpiContainer text {
  font-size: 3em;
}

.kpiText {
  font-size: 50%;
  margin-bottom: 10%;
}
