.kpiText {
  font-size: initial;
  font-weight: 600;
  height: 60px;
}

@media only screen and (max-width: 1100px) {
  .kpiText {
    font-size: small;
  }
}

@media only screen and (max-height: 800px) {
  .kpiText {
    font-size: x-small;
  }
}
